<div class="container">
	<h3>Declaración de Facturación</h3>
	<hr>
	<div class="row">
		<div class="col-md-4 order-md-2 mb-4">
			<h5 class="d-flex justify-content-between align-items-center mb-3">
				<span class="text-muted">Resumen</span>
				<button type="button" class="btn btn-success">Declarar</button>
			</h5>
			<ul class="list-group mb-3">
				<li class="list-group-item d-flex justify-content-between">
					<span>Responsable</span>
					<strong>{{responsable}}</strong>
				</li>
				<li class="list-group-item d-flex justify-content-between">
					<span>Cantidad de Facturas</span>
					<strong>{{cantidadFacturas}}</strong>
				</li>
				<li class="list-group-item d-flex justify-content-between">
					<span>Facturación Total</span>
					<strong>S/. {{totalFacturacion | number:'1.2'}}</strong>
				</li>
			</ul>


		</div>
		<div class="col-md-8 order-md-1">
			<h5 class="d-flex justify-content-between align-items-center mb-3">
				<span class="text-muted">Facturas a declarar</span>
				<button type="button" class="btn btn-outline-secondary" (click)="agregarFactura()">Agregar Factura</button>
			</h5>
			<ul class="list-group mb-3">
				<li class="list-group-item d-flex justify-content-between lh-condensed"
					*ngFor="let data of listadoFacturas;">
					<div>
						<small class="text-muted">{{data.tipo}} Codigo</small>
						<h6 class="my-0">{{data.numero}}</h6>
					</div>
					<div>
						<small class="text-muted">Monto</small>
						<h6 class="my-0 text-muted">S/. {{data.total}}</h6>
					</div>
					<div class="d-flex flex-column">
						<button type="button" class="btn btn-outline-secondary btn-sm mb-2"><fa-icon [icon]="iconEdit"></fa-icon></button>
						<button type="button" class="btn btn-outline-secondary btn-sm"><fa-icon [icon]="iconDelete"></fa-icon></button>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>